body{

    background-color:rgb(255, 255, 255);
    padding: 20px;
    font-size:small;
    
    
}
h2.ontour{
    color: rgb(67, 67, 131);
    text-align: center;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 20px;
    border: 1px solid rgb(235, 208, 199);
}
h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: chocolate;
    font-size: 11pt;
    margin-top: 7px;
}

.maindiv{
    margin: 0 auto;
    max-width: 780px;
    background-color:rgb(243, 236, 236);
    padding: 15px;
    border-radius:5px;
}
.section_div{
    background-color:  rgb(243, 232, 228);
    border-radius: 4px;
    padding-bottom: 0px;
}
#band{
    background-image: url('images/back3.jpg');
    background-position: center;
    background-size: 100% 100%;
    height:300pt;
}
.author{
    display: block;
    color: rgb(168, 168, 231);
    text-align: center;
    font-size: 8px;
    font-family: 'Courier New', Courier, monospace;
}
#member {
    overflow: auto;
    clear: both;
    margin: 10px 0px 0px 0px;
    background-color:  rgb(243, 232, 228);
    border-radius: 4px;
  }
 img {
    float: left;
    margin: 0px 10px 20px 0px;
    padding: 10px;
    height: 150px;
    width: 260px;
  }

strong{
    font-style:italic;
    color: rgb(71, 37, 24);
    
}

a:link{
    text-decoration: none;
  }

a:visited{
    color:blue;
}
a:hover{
    color:red;
    background-color: rgb(247, 226, 226);
    color: rgb(207, 89, 128);
  }

  
