#title_bm{
    color: rgb(177, 82, 15);
    font-size: 18px; 
    font-weight: bold;
    padding-bottom: 0px;
}
li{
    padding-bottom: 2px;
    padding-left: 10px;
}
header,footer{
  
    background-color:  rgb(238, 229, 226);
    text-align: center;
    padding-top: 20px;
    max-width: 780px;
    margin: 0 auto;
    padding: 15px;
    color: rgb(67, 67, 131);
   
}